* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  display: hidden;
}

@media screen and (min-width: 769px) {
  #background-image {
    width: 100%;
    height: 100vh;
    /* 100% of viewport height */
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  #container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #background-image {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-10%) translateX(-10%);
  }

  button {
    display: block;
    position: absolute;
    z-index: 1;
  }

  #move-up {
    top: 10px;
    left: 50%;
  }

  #move-right {
    right: 10px;
    top: 50%;
  }

  #move-left {
    top: 50%;
    left: 10px;
  }

  #move-down {
    bottom: 10px;
    left: 50%;
  }

  .left {
    left: 10px;
    top: 50%;
  }

  .right {
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
  }

  .up {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .down {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

#game-container {
  position: relative;
}

/* DIALOGUE BOX */
.dialogue-box {
  position: absolute;
  width: 90%;
  height: 100px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1em;
  display: none;
}

.dialogue-box.active {
  display: block;
}

.choices-container {
  margin-top: 20px;
}

.choice-button {
  margin-right: 10px;
}

/* END DIALOGUE BOX */

/*LANDING PAGE */
#haunted-mansion video {
  position: relative;
  height: 100%;
  /*top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  } */
}

section #haunted-mansion {
  position: relative;
}

.landing-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: white;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
}

#landing-button {
  font-size: large;
  font-family: inherit;
  border: 0;
  padding: 0;
}

/* Hangman game styles */
/* load captain howdy font from fonts/captain-howdy.ttf */
@font-face {
  font-family: "Captain Howdy";
  src: url("../fonts/captain-howdy.ttf");
}

.minigame {
  display: none;
}

.minigame.active {
  display: block;
}

#hangman-game button {
  border: none;
  background-color: transparent;
  font-size: 2.25rem;
  font-family: "Captain Howdy", sans-serif;
}

.ouija-board-container {
  position: relative;
  max-width: 705px;
  margin: 0 auto;
}

.ouija-board-alphabet {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  text-align: center;
  color: #000;
}

.hangman-letter-container {
  position: relative;
  display: inline-block;
  width: 10%;
  margin: 0 1%;
  border: 1px solid #000;
}

.hangman-letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.25rem;
  font-family: "Captain Howdy", sans-serif;
  color: #000;
}
/* End Hangman game styles */

/* Memory mini-game styles */
#memory-game {
  display: block;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #57615f;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* End of memory minigame styles */

/* Quiz game styles */
/* card styles */
.card {
  background-color: #1a1a1a;
  color: white;
  margin: 20px;
}

/* card image styles */
.card-img-top {
  max-height: 300px;
  object-fit: contain;
}



